<!doctype html>
<html>
<title>Admin Page</title>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/admin.css">

</head>
<body>

<h1 class="admin-title"><a href="{{url_for('auth.admin')}}">ADMIN</a></h1>

<div class="container">
  <ul class="nav">
    <li>
      <a class="item" href="{{url_for('auth.adminposts')}}">Posts</a>
    </li>

    <li>
      <a class="item" href="{{url_for('auth.adminusers')}}">Users</a>
    </li>

    <li>
      <a class="item" href="{{ url_for('auth.search') }}">Search</a>
    </li>
    <li>
      <a class="item" href="{{ url_for('auth.logout') }}">Logout</a>
    </li>
  </ul>

</div>



<section class="manage">
{%block content%}


{%endblock%}
</section>


</body>

</html>