{% extends 'admin/base.html' %}

{%block content%}

<div class="index-container">
<h4><span class="index-heading">Today:</span>  <span id="datetime"></span></h4>
<h4><span class="index-heading">Total Post:</span> {{posts|length}}</h4>
<h4><span class="index-heading">Total User:</span> {{users|length}}</h4>
<h4><span class="index-heading">Popular User:</span> {{max['nickname']}}</h4>

{% set pop = max['MAX(rank)'] %}
<h4><span class="index-heading">Popularity:</span> {{'%0.2f' % pop|float}}%</h4>
</div>
<hr>

<h4><span class="index-ranking">Ranking Chart:</span></h4>
{% for rank in ranks %}
<div class="progress progress-bar-hr" style="margin-bottom: 0.3rem;">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{rank['rank']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{rank['rank']}}%;">
    <span class="sr-only">{{rank['rank']}}</span>
    <label>{{rank['nickname']}}</label>
  </div>
</div>
{%endfor%}


<script>
  var dt = new Date();
  document.getElementById("datetime").innerHTML = dt.toLocaleString();
  </script>
  
{%endblock%}
