{% extends 'admin/base.html' %}

{%block content%}
<h1 class="posts-title">POSTS</h1>
<div class="admintable">
<table class="posts-table"  cellspacing="2">
    <th class="th">id</th>
    <th class="th">author_id</th>
    <th class="th">username</th>
    <th class="th">nickname</th>
    <th class="th">user_type</th>
    <th class="th">title</th>
    <th class="th">content</th>
    <th class="th">post created</th>
    <th class="th">Operations</th>
    
    {%for post in posts %}
    <tr class="user-table">
        <td class="td user-item"> {{post['id']}}</td>
        <td class="td user-item">{{post['author_id']}}</td>
        <td class="td user-item">{{post['username']}}</td>
        <td class="td user-item">{{post['nickname']}}</td>
        <td class="td user-item">{{post['user_type']}}</td>
        <td class="td user-item"><a href="{{ url_for('blog.post', id=post.id,dir=0) }}">{{post['title']}}</a></td>
        <td class="td user-item">{{post['body']}}</td>
        <td class="td user-item">{{post['created']}}</td>
        <td class="td user-item">
            {% if post['user_type']=='admin' %}
            <input class="btn btn-secondary disabled" type="submit" value="Delete"  disabled>
            {%else%}
            <form action="{{ url_for('auth.deletepost',id=post['id']) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
            {%endif%}
        </td>
    </tr>
    {%endfor%}  
</table>


</div>




{%endblock%}