{% extends 'admin/base.html' %}
{%block content%}


<div class="container-fluid">
    
    <h1 class="users-title">USERS</h1>
    <button class="users-addbtn"><a href="{{url_for('auth.adduser')}}">Add</a></button>
</div>

<div class="admintable">
<table class="users-table">
    <th class="th">id</th>
    <th class="th">pfp</th>
    <th class="th">username</th>
    <th class="th">nickname</th>
    <th class="th">useremail</th>
    <th class="th">website</th>
    <th class="th">user_type</th>
    <th class="th">register_date</th>
    <th class="th">last_login</th>
    <th class="th">Status</th>
    <th class="th">Change type</th>
    <th class="th">Careful</th>

    {%for user in users %}
        <tr class="user-table">
            <td class="td user-item"> {{user['id']}}</td>
            <td class="td user-item"><img src="{{user['pfp']}}" style="width: 50px; height:50px; border-radius: 3px;"></td>
            <td class="td user-item"><a href="{{url_for('blog.profile',id=user['id'])}}">{{user['username']}}</a></td>
            <td class="td user-item"><a href="{{url_for('blog.profile',id=user['id'])}}">{{user['nickname']}}</a></td>
            <td class="td user-item">{{user['useremail']}}</td>
            <td class="td user-item">{{user['website']}}</td>
            <td class="td user-item">{{user['user_type']}}</td>
            <td class="td user-item">{{user['register_date']}}</td>
            <td class="td user-item">{{user['last_login']}}</td>
            <td class="td user-item">
                {% if user['status']=='disabled' %}
                <form action="{{ url_for('auth.activeuser',id=user['id']) }}" method="post">
                    <input class="btn btn-secondary" type="submit" value="Disabled" >
                    </form>
                {%else%}
                <form action="{{ url_for('auth.disableuser',id=user['id']) }}" method="post">
                    <input class="btn btn-primary" type="submit" value="Actived" >
                    </form>
            {%endif%}
            </td>

            <td class="td user-item">
                {% if user['user_type'].lower()=='user' %}
                <form action="{{ url_for('auth.addmanager',id=user['id']) }}" method="post">
                    <input class="btn btn-secondary" type="submit" value="User" >
                    </form>
                {%elif user['user_type'].lower()=='manager'%}
                <form action="{{ url_for('auth.removemanager',id=user['id']) }}" method="post">
                    <input class="btn btn-primary" type="submit" value="Manager" >
                    </form>
                {%else%}
                    {{user['user_type']}}
            {%endif%}
            </td>

            <td class="td user-item">
                {% if user['user_type']=='admin' %}
                <input class="btn btn-secondary disabled" type="submit" value="Delete"  disabled>
                {%else%}
                <form action="{{ url_for('auth.deleteuser',id=user['id']) }}" method="post">
                    <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                    </form>
                {%endif%}
            </td>
        </tr>  
    {%endfor%}  
</table>
</div>






{%endblock%}