html {
  font-family: sans-serif;
  background: #fffefe;
  padding: 1rem;
}

body {
  /* max-width: 960px; */
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 ,p{
  font-family: serif;
  color: #377ba8;
 
  margin: 1rem 0;
}



hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  /* background: lightgray; */

  display: flex;
  align-items: center;
  padding: 0 0.5rem;
 
}

.navbar{
  border: 1px solid lightgray;
  
}
nav h1 {
  flex: auto;
  margin: 0;
  padding-left: 1rem;
  font-family:sans-serif;
}

nav h1 a {
  text-decoration: none;
  /* padding: 0.25rem 0.5rem; */
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
  margin:auto;
}

.content > header {
  /* border-bottom: 1px solid lightgray; */
  display: flex;
  align-items: flex-end;
 
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;

}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}
/* 
input[type=submit] {
  align-self: start;
  min-width: 10em;
} */
.container{
  /* max-width: 600px; */
  margin: auto;
  display: block;
}
/* posts.html */
.postcard{
  border-radius: 10px;
  box-shadow:1px 1px 5px lightgray;
  
  min-width: 18rem; 
  max-width: 25rem; 
  margin-top: 5px;
}
.card-name{
  font-size:12px;
  color: gray;
}
.card-img-top{
  margin:auto;
  padding:10px;
}
.card-group{
  margin-top: 30px;
}
/* search */
.search{
  max-width: 90%;
  margin:auto;
  display: block;
  background-color: lightgrey;
}
/* dashboad(index) page */
.section1{
  border-radius: 10px;
  box-shadow:1px 1px 5px lightgray;

}
.profilecard a{
  padding: auto;
  text-align: bottom;
  margin:auto;
  
}

/* profile html */
.btn-light{
  color: #377ba8;
  border: 1px solid #377ba8;
  max-width: 250px;
}
.profilebox{
  min-width: 400px;
  margin-top: 1.5rem;
  padding:1.5rem;
  border: 1px solid lightgray ;
}
.pfpicon{
  width:100px;
  height:100px;
}
.progress-bar-vertical {
  width: 20px;
  min-height: 80px;
  margin-right: 20px;
  float: left;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  /* background-color: #377ba8; */
  background-color: #f1676e;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
/* post.html */

.post-image{
  
  margin:auto;
  display:block;
  min-width: 300px; 
  max-width: 800px; 
  margin-top: 5px;
}

/* api html */
.flickr{
  margin:auto;
  display:block;
  max-width: 200px;
  

}
