{% extends 'base.html' %}

{% block header %}
	<h1 class="register-title">{% block title %}REGISTER{% endblock %}</h1>
{% endblock %}

{% block content %}
	<h3 class="error">{{error}}</h3>
	<form class="form" method="post">
		<input class="input" name="username" id="username" placeholder="Username" required>
		<br>
		<input class="input" type="password" name="password" id="password" placeholder="Password" required>
		<br>
		<input class="input" type="email" name="useremail" placeholder="Email" required>
		<br>
		<input type="submit" value="Register" class="btn">
	</form>
{% endblock %}

