<!doctype html>
<title>{% block title %}{% endblock %} </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<link rel="stylesheet" href="/static/style.css">
<div class="backgroundimg"></div>
<div class="container">
	<a href="{{ url_for('index') }}"><h1 class="title">Shutter</h1></a>

	<ul class="nav">
		
		{% if g.user %}
			<li>
				<a class="item" href="{{url_for('blog.api')}}">Inspiration</a>
			</li>

			<li>
				<a class="item" href="{{url_for('blog.posts',offset=0)}}">Explore</a>
			</li>

			<li>
				<a class="item-nickname" href="{{ url_for('index') }}" >{{ g.user['nickname'] }}</a>
			</li>

			<li>
				<a class="item" href="https://realtime-chatapp-2283c.web.app/">ChatRoom</a>
			</li>
			<li>
				<a class="item" href="{{ url_for('blog.search') }}">Search</a>
			</li>
			<li>
				<a class="item" href="{{ url_for('auth.logout') }}">Logout</a>
			</li>

		{% else %}
			<li>
				<a class="item" href="{{ url_for('auth.register') }}">Register</a>
			</li>
			<li>
				<a class="item" href="{{ url_for('auth.login') }}">Login</a>
			</li>

		{% endif %}

	</ul>
</div>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% block content %}{% endblock %}
</section>
